body
  margin 0
  padding 0
  font-style: normal;
  width 1349px
  
#header
  width 100%
  background #fff
  border-bottom  1px solid #e5e5e5
  .navbar
    border 0
    margin 0
    z-index 999
    padding 2.5px 0
    box-sizing border-box
    .container
      width 1200px
      margin 0 auto
      overflow hidden
      padding-right 15px
      padding-left 15px
      box-sizing border-box
      .header-left
        float left
        box-sizing border-box
        >a
          color #777777
          display block
          font-size 40px
          height 65px
          line-height 29px
          box-sizing border-box
          >img
            margin-top 8px
            display block
            width 100%
            min-width 100%
            height auto
            vertical-align middle
            box-sizing border-box
      .header-right
        float right
        margin-top 10px
        box-sizing border-box
        .header-right-wrapper
          float left
          box-sizing border-box
          height 40px
          line-height 40px
          >li
            float left
            >a
              font-weight bold
              line-height 20px
              padding 10px 15px
              display block
              color #000000
              transition color .5s
              &:hover
                color #e94840
          #position
            margin-right 50px
            >a
              padding 10px 15px
              color #121212
              font-weight 500
              >span
                font-weight bold
              >img
                vertical-align middle
          .active
            >a
              color #e94840;
              background #fff
              padding 10px 15px
          .shanghu-right
            >.shanghu
                border-radius 5px
                background #e94840
                box-sizing border-box
                padding 4px 6px !important;
                margin-top 5px;
                margin-left 15px;
                color #fff

.home
  width 100%
  position relative
  .home-container
    width 100%
    .home-slider
      width 100%
      height 420px
      position relative
      overflow hidden
      >ul
        height 420px
        >li
          width 100%
          float left
          overflow hidden
          position absolute
        .bg1
          height 420px
          background-image url("../images/banner3.jpg")
          background-position -300px
        .bg2
          height 420px
          background-image url("../images/banner2.jpg")
          background-position -300px
        .bg3
          height 420px
          background-position -300px
          background-image url("../images/banner1.jpg")

    .home-circle
      width 100%
      position absolute
      bottom 0
      left 0
      height 30px
      line-height 30px
      text-align center
      >span
        display inline-block
        cursor: pointer
        width 10px
        height 10px
        margin 5px
        overflow hidden
        background-color rgba(0,0,0,0.2)
        border-radius 100%
        &.on
          background-color rgba(255,255,255,1)

  .home-menu-container
    width 200px
    position relative
    bottom 422px
    margin 0 auto
    .home-menu
      width 180px
      position absolute
      left -470px
      .home-menu-list
        width 180px
        background #757881
        height 420px
        margin-top 2px
        .home-menu-item
          height 42px
          line-height 42px
          color #ffffff
          font-size 16px
          padding-left 45px
          cursor pointer
          position relative
          &:hover
            background #60646D
            >.home-menu2
              display block
            .cat
              display block
            >img
              display none
          >span
            width 70px
            font-weight bold
            text-align justify
            text-align-last justify
          >img
            width 6px
            height 11px
            position absolute
            right 35px
            top 20px
          .cat
            width 6px
            height 11px
            position absolute
            left 174px
            top 16px
            display none
          .home-menu2
            position absolute
            left 180px
            top 0
            background rgba(255,255,255,0.9)
            width 160px
            margin-top 0
            display none
            height 420px
            >li
              height 42px
              line-height 42px
              background  #ffffff
              font-size 16px
              position relative
              padding-left 45px
              >a
                font-weight bold
                color #000000
                &:hover
                  color #e94840
.box1
  width 100%
  padding-bottom 20px
  &:nth-child
    background #fff
  .zxd
    width 1200px
    margin 0 auto
    padding 50px 0 0
    .zxd_header
      text-align center
      overflow hidden
      .zxd_header_top
        display block
        color #3d3838
        font-weight 800
        font-size 28px
      .zxd_header_bottom
        display block
        font-size 22px
        margin-top 15px
        >a
          color #3d3838
          &:hover
            color #fb474f
            background-color transparent
            transition color .5s

    .zxd_footer
      .zxd_footer_top
        text-align right
        .zxd_footer_top_text
          position relative
          bottom 22px
          >a
            font-size 18px
            color #898989
            font-family "幼圆"
      .zxd_footer_bottom
        margin-top 10px
        margin-left 0
        margin-right 0
        display flex
        justify-content space-around
        >a
          .zxd_footer_item
            box-sizing border-box
            padding 10px
            width 230px
            border 1px solid #eaeaea
            margin 0 5px
            background #fff
            height 345px
            cursor pointer
            &:hover
              box-shadow 5px 5px 15px #ccc
            >img
              vertical-align middle
              width 210px
              height 210px
            >.name
              box-sizing border-box
              font-size 16px
              padding 10px 0
              font-weight 800
              color #000
              height 28px
              overflow hidden
              width 101%
              white-space nowrap
              text-overflow ellipsis
            >.decoration
              box-sizing border-box
              color #929292
              padding 5px 0
              overflow hidden
              text-overflow ellipsis
              /*white-space nowrap*/
              font-size 13px
              line-height 18px
              height 58px
            >.price
              box-sizing border-box
              font-size 14px
              padding 5px 5px
              font-weight 600
              height 20px
              line-height 20px
              color #fb474f
              >span
                font-size 17px
                font-weight 600
              .btn
                float right
                padding 0
                width 76px
                height 24px
                line-height 22px
                text-align center
                background #fb474f
                border-radius 5px
                color #fff
                font-size 14px
.baozhang
  text-align center
  width 100%
  padding-top 60px
  background #ffffff
  >h2
    font-size 30px
    font-weight 800
    font-family "微软雅黑"
    margin-top 20px
    margin-bottom 10px
    >i
      list-style none
      font-style normal
      font-weight 800
      color #fb474f
      margin 0
      padding 0
  >p
    font-size 22px
    color #3d3838
.servi
  box-sizing border-box
  width 100%
  height 66px
  padding-top 20px
  background #ffffff
  >ul
    width 420px
    margin 0 auto
    display flex
    justify-content center
    >li
      flex 1
      text-align center
      font-size 18px
      >img
        width 20px
        heigth 20px
        vertical-align middle
        margin-right 10px

.footer
  box-sizing border-box
  width 100%
  height 170px
  padding-top 50px
  background #ffffff
  >dl
    width 1200px
    margin 0 auto
    >dt
      float left
      font-size 18px
      font-weight 700
    >dd
      width 1090px
      line-height 30px
      margin-left 30px
      float left
      >a
        float left
        font-size 16px
        color #898989
        display block
        width 9%
        font-weight 200
        text-align center


.beian
  width 100%
  text-align center
  padding-top 50px
  .title
    position relative
    bottom 20px
    text-align left
    font-weight bold
    width 1200px
    margin 0 auto
    font-size 18px
  >ul
    width 1200px
    margin 0 auto
    display flex
    >li
      flex 1
      width 10%
      height 60px
      text-align center
      background #ffffff
      line-height 55px
      margin-left 1%
      &:first-child
        margin 0
      >img
        width 100px
        height auto
.beian2
  height 40px
  line-height 40px
  padding-top 0
  width 100%
  text-align center
  clear both
  >p
    width 1200px
    margin 0 auto
    text-align left
    color #898989
