a
  color #000000
  font-weight bold
span
  color #000000
  font-weight bold
.header
  width 100%
  background #ffffff
  border-bottom 1px solid #e5e5e5
  .header_container
    box-sizing border-box
    padding 2.5px 0
    .header_content
      width 1200px
      height 70px
      margin 0 auto
      display flex
      .logo
        height 70px
        >img
          width 100%
          height auto
          margin-top 13px
      .position
        line-height 70px
        margin-left 80px
        display flex
        >a
          .changecity
            &:hover
              color #e94840
              transition color .5s
        .citypoint
          vertical-align middle
        .city
          margin-left -5px
        .changecity
          color #000000
          font-weight bold
      .header_list
        height 70px
        line-height 70px
        margin-left 70px
        >ul
          box-sizing border-box
          display flex
          width 600px
          justify-content space-between
          //padding 0 10px
          >li
            margin-left -10px
            &:first-child
              margin-left 0
            >a
              &:hover
                color #e94840
                transition color .5s
          >.login_wrapper
            .login
              background #e94840
              color #ffffff
              padding 5px
              border-radius 5px